.App {
  text-align: center;
  padding: 2rem;
}

.book-list {
  list-style-type: none;
  padding: 0;
}

.book-list li {
  background: #f4f4f4;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 8px;
  text-align: left;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 2rem;
  border-radius: 10px;
}
